table {
    width: 80%;
    border: 1px solid black;
    margin: 0px auto;
}

table tr {
    width: 20%;
    border: 1px solid black;
    text-align: center;
}

table th {
    text-align: center;
    font-weight: 700;
}
